@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: url("background.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: #242424;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* backdrop-filter: blur(10px); */
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 100px;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
  transition: 0.5s;
}

.header:hover::before {
  left: 100%;
}
.logo {
  color: #fff;
  font-size: 25px;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  margin-left: 30px;
}

.navbar a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  margin-left: 35px;
  transition: 0.3s;
  margin-right: 30px;
}

.navbar a:hover {
  color: rgb(87, 194, 141);
}

.jumbotron {
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 150px 0;
}

.jumbotron h1 {
  font-family: "Poppins", sans-serif;
  font-size: 72px;
  font-weight: bold;
  margin-bottom: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.jumbotron p {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 50px;
  font-family: "Poppins", sans-serif;
}

.jumbotron a {
  background-color: #fff;
  color: #00703c;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  padding: 20px 40px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.jumbotron a:hover {
  background-color: #00703c;
  color: #fff;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

th,
td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #4caf50;
  color: white;
}

.lead {
  text-align: left;
}
